In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import prepare

In [9]:
train, validate, test = prepare.wrangle_data('titanic')

In [10]:
train.head()

,survived,pclass,sex,age,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
428,0,3,male,29.699118,0,0,7.75,Queenstown,1,1,1,0
480,0,3,male,9.000000,5,2,46.90,Southampton,0,1,0,1
888,0,3,female,29.699118,1,2,23.45,Southampton,0,0,0,1
822,0,1,male,38.000000,0,0,0.00,Southampton,1,1,0,1
612,1,3,female,29.699118,1,0,15.50,Queenstown,0,0,1,0

In [12]:
train.survived.value_counts()

0    307
1    191
Name: survived, dtype: int64

## 1. 
What is your baseline prediction? What is your baseline accuracy? remember: your baseline prediction for a classification problem is predicting the most prevelant class in the training dataset (the mode). When you make those predictions, what is your accuracy? This is your baseline accuracy.

#### What is your baseline prediction?

survived = 0

In [13]:
train['baseline'] = 0

In [22]:
# What is your baseline accuracy?
print(f'baseline prediction accuracy score is: \
{accuracy_score(train.survived, train.baseline):.2%}')

baseline prediction accuracy score is: 61.65%

## 2.
Fit the decision tree classifier to your training sample and transform (i.e. make predictions on the training sample)

In [44]:
X_cols = train.drop(columns=['sex','embark_town','survived']).columns.to_list()
y_cols = 'survived'

In [46]:
X_train = train[X_cols]
y_train = train[y_cols]

In [49]:
# make the decision tree classifier object
clf1 = DecisionTreeClassifier()
# fit the DTC object
clf1.fit(X_train, y_train)
# use the DTC object
model_1_preds = clf1.predict(X_train)

## 3. 
Evaluate your in-sample results using the model score, confusion matrix, and classification report.

In [55]:
# model 1 score
print(f'model 1 accuracy is: {clf1.score(X_train, y_train):.2%}')

model 1 accuracy is: 99.20%

In [57]:
# confusion matrix for model 1
print(f'confusion matrix for model 1: \n{confusion_matrix(y_train, model_1_preds)}')

confusion matrix for model 1:
[[307   0]
 [  4 187]]

In [63]:
# classification report for model 1
print(f'classification report for model 1:\n\n \
{classification_report(y_train, model_1_preds)}')

classification report for model 1:

               precision    recall  f1-score   support

           0       0.99      1.00      0.99       307
           1       1.00      0.98      0.99       191

    accuracy                           0.99       498
   macro avg       0.99      0.99      0.99       498
weighted avg       0.99      0.99      0.99       498

## 4.
Compute: Accuracy, true positive rate, false positive rate, true negative rate, false negative rate, precision, recall, f1-score, and support.